<div class="field">
  <%= f.label :amount %>
  <%= f.text_field :amount %>
</div>

<div class="field">
  <%= f.label :usage %>
  <%= f.text_field :usage %>
</div>

<div class="field">
  <%= f.label :term %>
  <%= f.select :term, ['6 months', '9 months', '12 months', '15 months', '18 months'] %>
</div>